<div class="q  col-sm-8 col-md-8">
<div class="oneQuestion">
    <div class = "qAvatar">
        <img src="/static/img/negr.jpg">
    </div>
    <div class = "qQuestion">
        <div class="">
            <h2> {{ question.title }}</h2>
        </div>
        <div class="">
            <h3> {{ question.text }}</h3>
        </div>
    </div>
    <div class="empty">
    </div>
    <div class = "qForm">
        <form class="likeForm">
            <button type="button" class="btn btn-success">Like</button>
            <button type="button" class="btn btn-danger">Dislike</button>
            <div style="float:right; width: 1.8rem; margin-right: 1.8rem; margin-top: 0.3rem; height: 2rem; text-align: center; border: 2px solid limegreen; border-radius: 5px; ">
                {{ question.likes }}
            </div>
        </form>
    </div>
    <div class="answers">
        <a href="{% url 'question_page' question.idx %}"> Answers (3)</a>
    </div>
    <div class="downTags">
        <div class="qTags">
            Tags:
            {% for tag in question.tags %}
                <a href="#"> {{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</div>
</div>
